* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;

}

.valgt {

    border: 2px solid white;
    background-color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: black;
    outline: none;
}
