article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.71);
    color: white;

}

.billede-overlay {
    display: grid;
}

.gradient {
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    background: #C33764;
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}


.billede,
.gradient {
    grid-area: 1 / 1;
}

.page-splash,
.gradient {
    grid-area: 1 / 1;
}

article img {
    width: 100%;

}

.spotifylink {
    grid-column: span 2;
}

.spotifylink iframe {
    width: 100%;
    height: 80px;
}


#liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 115px;
    padding-left: 10vw;
    padding-right: 10vw;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 5.5em;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}



.logo {
    position: relative;
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;

}



.page-splash {
    background-image: url(/images/baggrund1.jpg);
    background-size: cover;
    background-position: 50%;
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
}

.page-splash h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 55px;
    font-weight: 200;
    width: 250px;
    margin-left: 10vw;
}

.page-background {
    background-position: 50%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;

    background-image: url(/images/baggrund.png);
    background-size: cover;
}

.page-body {
    position: relative;
    top: 19.5em;
    width: 100%;
    background-color: rgba(255, 245, 238, 0);
}
