/* header ----------------------------------- */

header {
    top: 0;
    width: 100%;
    z-index: 10;
    height: 4em;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    text-align: center;
}

header button {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 5px 10px 5px 10px;
    width: 100px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 13px;
}

header button:hover {
    border: 2px solid white;
    background-color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: black;
}

header button:mousedown {
    outline: none;
}


/* bliver sat til header via javascript når der scrolles lidt ned på siden */
.fixed {
    /* placerer sig ovenpå sidens øvrige og forbliver øverst på skærmen */
    position: fixed;
    /* falder oppe fra og ned på sin orginale plads */
    transform: translateY(0%);
    /* falder ned på 0.3 sekunder */
    transition: transform 0.3s;
}

/* bliver sat til header via javascript når man er på splashsiden, og ikke har scrollet ned */
.absolute {
    position: fixed;
    /* hopper ned fra og op (over skærmen) */
    transform: translateY(-100%);
    /* hopper op på 0.3 sekunder */
    transition: transform 0.3s;
}

/* splashpage ------------------------------ */

.logo {
    position: relative;
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
}

/* splashpage billede indsættes i container */
.page-splash {
    background-image: url(../images/baggrundmedgradient.png);
    /*Resizer baggrundsbillede til at cover hele containeren */
    background-size: cover;
    /* Centrerer billedet */
    background-position: 50%;
    /* Positionerer elementet baseret på dens nuværende position uden at skifte layout */
    position: relative;
    /* Skal fylde hele skærmen */
    width: 100%;
    height: 100vh;
}

.page-splash h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 30px;
    font-weight: 200;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
}

.page-splash h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 30px;
    font-weight: 200;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 55vh;
    color: rgba(255, 255, 255, 0.26);
}

/* main / page-body --------------------------------- */

.page-body {
    position: relative;
    top: 0;
    width: 100%;
    background-color: rgba(255, 245, 238, 0);
}

.page-body h2 {
    color: white;
}


/* listen af articles -------------------------- */

#liste {
    /* tilføjer listen med articles grid */
    display: grid;
    /* består af 2 ligestore kolonner */
    grid-template-columns: 1fr 1fr;
    /* giver et mellemrum mellem articles */
    grid-gap: 115px;
    /* giver luft til begge sider af listen */
    padding-left: 10vw;
    padding-right: 10vw;
}


/* article ----------------------------------- */

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.41);
    color: white;
    padding: 20px;
}

article h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3.5vw;
    /* giver header i alle articles samme højde, så det ikke har en effekt på andre containere */
    height: 35%;
    margin-top: 0px;
}

article p {
    font-family: 'Abel', sans-serif;
    font-size: 1.5vw;
}


.articleknap {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 4px 15px 4px 14px;
}

.articleknap:hover {

    border: 2px solid white;
    background-color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: black;
}

/* billede container i articles er inde i "billede-overlay" container sammen med "gradient" container */
.billede-overlay {
    /* giver containeren med billede og gradient containere et grid */
    display: grid;
}

/* en gradient farve der ligger ovenpå billederne i articles */
.gradient {
    /* fylder hele kolonnen/billedet */
    width: 100%;
    height: 100%;
    /* gradient farvekoden */
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}

/* sammensætter billede container med gradient container */
.billede,
.gradient {
    grid-area: 1 / 1;
}

article img {
    width: 100%;

}

.spotifylink {
    /* giver spotify-afspiller lov til at fylde de 2 kolonner i article grid */
    grid-column: span 2;

}

.spotifylink iframe {
    /* fylder hele grid i bredden */
    width: 100%;
    /* angiver tilpassende højde */
    height: 80px;
}

.genretitel {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
}


/* fixed baggrund ---------------------------------- */
/* baggrund der hele tiden følger med på skærmen */
.page-background {
    /* centerer billedet */
    background-position: 50%;
    /* placerer sig bagved sidens øvrige og forbliver bagerst på skærmen */
    position: fixed;
    /* gør at der intet luft er fra toppen */
    top: 0;
    /* fylder hele skærmen */
    width: 100%;
    height: 100vh;
    /* baggrundscontaineren ligger siger bag alle øvrige containere */
    z-index: -10;
    background-image: url(../images/baggrund.png);
    background-size: cover;
}




/* media queries ----------------------------------------- */


/* iPad ----------------------------------------------------------*/

@media (max-width: 1200px) {
    #liste {
        grid-gap: 50px;
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0;
        padding-right: 0;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    article h2 {
        font-size: 5vw;
    }

    article p {
        font-size: 3vw;
    }
}

/* header fix ---------------------------------- */

@media (max-width: 680px) {
    header button {
        font-size: 18px;
        font-weight: 300;
        padding: 5px 10px 5px 10px;
        width: 90px;

    }
}

/* iPhone ----------------------------------------------------------*/

@media (max-width: 600px) {

    #liste {
        grid-gap: 50px;


        margin-left: 0vw;
        margin-right: 0vw;
    }

    header button {
        font-size: 17px;
        font-weight: 300;
        padding: 5px 6px 5px 6px;
        width: 70px;
        margin-left: 0vw;
        margin-right: 0vw;
        margin-top: 13px;
    }

    .logo {
        width: 70%;
    }

    .page-splash h1 {
        width: 70%;
    }

    article h2 {
        font-size: 8vw;
        height: 35%;
        margin-top: 0px;
    }

    article p {
        font-size: 5vw;
    }

    .articleknap {
        font-size: 17px;
    }

}

/* header fix ---------------------------------- */

@media (max-width: 370px) {
    header button {
        font-size: 11px;
        padding: 5px 10px 5px 10px;
        width: 60px;
    }

}
